<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template.html}">
<head>
<meta charset="utf-8"/>
<title>Inscription</title>
</head>
<body>
	<section layout:fragment="content" class="jumbotron">
		<form class="text-left text-md-center" th:action="@{/inscription}" method="post">
			<div>
				<label>Mail:</label>
				<input type="text" name="mail"/>
			</div>
			<div>
				<label>Mot de passe:</label>
				<input type="password" name="password"/>
			</div>
			<button type="submit">OK</button>
		</form>
				
	</section>
</body>
</html>