<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
layout:decorate="~{template.html}">
<head>
<meta charset="utf-8"/>
<title>Login</title>
</head>
<body>
	<section layout:fragment="content">
		<form th:action="@{/login}" method="post">
			<div>
				<label>Mail:</label>
				<input type="text" name="username"/>
			</div>
			<div>
				<label>Mot de passe:</label>
				<input type="password" name="password"/>
			</div>
			<button type="submit">OK</button>
		</form>
		<div th:if="${param.error}" >Mauvais identifiants
			</div>
				
	</section>
</body>
</html>